html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.output{
    margin-top: 10px;
}
fieldset{
    border: solid 1px black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 300px;
    width: 400px;
}
